
body{
  font-family: 'Montserrat';
    width: 100%;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/wp5957209.jpg); 
    background-size: cover;
    

}


.contact_form{  
  width: 800px; 
  height: auto;
  margin: 80px auto;
  border-radius: 30px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color:  #965d62;
  padding-left: 200px;
   
}


.inputs{
  background-color: #fff; 
  width: 408px; 
  height: 40px; 
  border-radius: 20px;  
  border-style: solid; 
  border-width: 2px; 
  border-color: #44000d; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  
}


textarea{
  background-color: #fff;
  width: 405px; 
  height: 150px; 
  border-radius: 20px;  
  border-style: solid; 
  border-width: 1px;  
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


.boton{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform:capitalize;
  background-color: #44000d;  
  border-style: solid; 
  border-radius: 20px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color:#44000d
}


.aviso{
  font-size: 16px;  
  color: #0e0e0e; 
  padding-left: 50px; 
  
}


h1{
  font-size: 30px;  
  text-align: left; 
  padding-bottom: 10px; 
  padding-left: 80px;
  color: #44000d;
  height: auto;
}


h3{
  font-size: 20px; 
  padding-bottom: 10px;
  color:black;
  
  
  
}


p{
  font-size: 20px; 
  color: white; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  
}


.formulario textarea:focus{
  outline:0;
  
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:30px;
	background-color: #84142d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}


.my-float{
	margin-top:16px;
}

