/*====== Fonts ======*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:wght@200;400;600&display=swap");

/*====== Variables ======*/
:root {
  --rose: #84142d;
  --dark-rose: #44000d;
  --light-purple: #917dc9;
  --purple: #644e9b;
  --light-gray: #ebebeb;
  --ligth-rose: #965d62;
  --base-font-family: "Montserrat";
  --other-font-family: "Cinzel";
}
/* Base */
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: var(--base-font-family);
}
h3 {
  font-family: var(--other-font-family);
}


/* Producto */
.product {
  background-color: var(--light-gray);
}

.product .image {
  display: flex;
  justify-content: center;
}
.product img {
  width: 80%;
  padding: 10%;
}

.product .name {
  margin: 10px 0 0 0;
  padding: 0% 10%;
}
.product .name h2 {
  font-family: var(--other-font-family);
}
.product .price {
  margin: 10px 0;
  padding: 0% 10%;
}
.product .box {
  border-bottom: var(--dark-rose) 1px solid;
}
.product .price h3 {
  font-size: 40px;
  color: var(--ligth-rose);
}
.product .more{
  padding: 5px;
  border: none;
  margin-bottom: 20px;
}
.product .number{
  border: none;
  width: 35px;
}
.product .cart {
  background-color: var(--light-purple);
  color: var(--light-gray);
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}
.product .description {
  padding: 0 10% 0 10%;
}
.product .services .item {
  margin-bottom: 2px;
  background-color: #965d62;
  width: 100%;
  padding: 2%;
  color:var(--light-gray);
}
.product .services .item:last-child {
  margin: 0;
}

/* Extras */

.extra {
  background-color: var(--light-gray);
}

/* Opiniones */
.extra .opinions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extra .opinions h3 {
  text-align: center;
  padding: 20px;
}
.extra .opinions ul li {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: solid 1px var(--light-purple);
}
.extra .opinions ul li:last-child {
  border: none;
}

/* Detalles */
.tecnic h3 {
  padding: 30px;
  text-align: center;
}
.tecnic .items {
  display: flex;
  justify-content: center;
}
.tecnic .items li {
  border-bottom: 1px solid var(--dark-rose);
  padding: 10px 20px;
}

/* Productos relacionados */

.relacionated {
  background-color: var(--light-gray);
}
.relacionated h3 {
  padding: 20px;
  text-align: center;
}
.cards {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cards a {
  border-bottom: 2px solid var(--dark-rose);
  border-radius: 40%;
  transition: all 0.3s;
}
.cards a:hover {
  color: var(--light-purple);
}
.productosRelacionados {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.productosRelacionados:last-child {
  margin-bottom: 30px;
}
.productosRelacionados img {
  width: 80%;
  padding: 10px;
}
.productosRelacionados h4 {
  padding: 2%;
}

/* Tablet */

@media (min-width: 768px) {
  /* Products */

  .product .first {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .product .text {
    padding: 0;
    margin: 10px;
    width: 50%;
  }
  .product img {
    width: 100%;
    padding: 1%;
  }
  .product .image {
    display: inline;
  }
  .product .image {
    width: 50%;
  }
  .product .name {
    margin: 20px;
    padding: 10px;
  }
  .product .box {
    border-bottom: none;
  }
  .product .services {
    display: flex;
    justify-content: space-between;
  }
  .product .services .item {
    margin-bottom: 0px;
    background-color: #965d62;
    width: 24%;
    padding: 2%;
  }

  /* Productos Relacionados */

  .relacionated {
    background-color: var(--light-gray);
  }
  .relacionated h2 {
    padding: 20px;
    text-align: center;
  }
  .cards {
    flex-direction: row;
    padding: 20px 0;
  }
  .cards a {
    border-bottom: none;
  }
  .productosRelacionados:last-child {
    margin-bottom: 0px;
  }
  .productosRelacionados img {
    width: 80%;
    padding: 10px;
  }
}

/* Escritorio */

@media (min-width: 1024px) {
  .product .first {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
  .product .text {
    padding: 0;
    margin: 10px;
    width: 50%;
    height: 500px;
  }
  .product img {
    width: 55%;
    padding: 1%;
  }
  .product .image {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 500px;
  }
  .extra {
    display: flex;
  }
  .extra .opinions {
    width: 60%;
  }
  .extra .opinions ul li {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-bottom: none;
  }
  .extra h3 {
    height: 100px;
    padding: 20px;
    margin: 0;
  }
}