body {
  font-family: var(--base-font-family);
}

h3 {
  font-family: var(--other-font-family);
}

/* Producto */

.product {
  background-color: var(--light-gray);
}

.product .image {
  display: flex;
  justify-content: center;
}

.product img {
  width: 80%;
  padding: 10%;
}

.product .name {
  margin: 10px 0 0 0;
  padding: 0 10%;
}

.product .name h2 {
  font-family: var(--other-font-family);
}

.product .price {
  margin: 10px 0;
  padding: 0 10%;
}

.product .box {
  border-bottom: var(--dark-rose) 1px solid;
}

.product .price h3 {
  font-size: 40px;
  color: var(--ligth-rose);
}

.product .more {
  margin-bottom: 20px;
  padding: 5px;
  border: none;
}

.product .number {
  width: 35px;
  border: none;
}

.product .cart {
  margin-bottom: 20px;
  padding: 10px;
  color: var(--light-gray);
  border: none;
  border-radius: 10px;
  background-color: var(--light-purple);
}

.product .description {
  padding: 0 10% 0 10%;
  margin: 20px 0;
}

.product .services .item {
  width: 100%;
  margin-bottom: 2px;
  padding: 2%;
  color: var(--light-gray);
  background-color: #965d62;
}

.product .services .item:last-child {
  margin: 0;
}

/* Extras */

.extra {
  background-color: var(--light-gray);
}

/* Opiniones */

.extra .opinions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extra .opinions h3 {
  padding: 20px;
  text-align: center;
}

.extra .opinions ul li {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: solid 1px var(--light-purple);
}

.extra .opinions ul li:last-child {
  border: none;
}

/* Detalles */

.tecnic h3 {
  padding: 30px;
  text-align: center;
}

.tecnic .items {
  display: flex;
  justify-content: center;
}

.tecnic .items li {
  padding: 10px 20px;
  border-bottom: 1px solid var(--dark-rose);
}

/* Productos relacionados */

.relacionated {
  background-color: var(--light-gray);
}

.relacionated h3 {
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards a {
  transition: all .3s;
  border-bottom: 2px solid var(--dark-rose);
  border-radius: 40%;
}

.cards a:hover {
  color: var(--light-purple);
}

.productosRelacionados {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.productosRelacionados:last-child {
  margin-bottom: 30px;
}

.productosRelacionados img {
  width: 80%;
  padding: 10px;
}

.productosRelacionados h4 {
  padding: 2%;
}

/* Tablet */

@media (min-width: 768px) {
  /* Products */
  .product .first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .product .text {
    width: 50%;
    margin: 10px;
    padding: 0;
  }
  .product img {
    width: 100%;
    padding: 1%;
    max-width: 300px;
  }
  .product .image {
    display: inline;
  }
  .product .image {
    width: 60%;
  }
  .product .name {
    margin: 20px;
    padding: 10px;
  }
  .product .box {
    border-bottom: none;
  }
  .product .services {
    display: flex;
    justify-content: space-between;
  }
  .product .services .item {
    width: 24%;
    margin-bottom: 0;
    padding: 2%;
    background-color: #965d62;
  }
  /* Productos Relacionados */
  .relacionated {
    background-color: var(--light-gray);
  }
  .relacionated h2 {
    padding: 20px;
    text-align: center;
  }
  .cards {
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
  }
  .cards a {
    border-bottom: none;
  }
  .productosRelacionados:last-child {
    margin-bottom: 0;
  }
  .productosRelacionados img {
    width: 80%;
    max-width: 300px;
    padding: 10px;
  }
}

/* Escritorio */

@media (min-width: 990px) {
  .product .first {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .product .text {
    width: 50%;
    height: 500px;
    margin: 10px;
    padding: 0;
  }
  .product img {
    max-width: 350px;
    padding: 1%;
  }
  .product .image {
    display: flex;
    justify-content: center;
  }
  .extra {
    display: flex;
    justify-content: space-around;
  }
  .extra .opinions {
    width: 60%;
  }
  .extra .opinions ul li {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-bottom: none;
  }
  .extra h3 {
    height: 100px;
    margin: 0;
    padding: 20px;
  }
}