body {
    font-family: var(--base-font-family);
    background-color: var(--light-gray);
}

main.main img.fondo {
    position: relative;
    width: 100%;
}

/* PPRODUCTO */

.producto1 {
    overflow: hidden;
    width: 85%;
    margin: 200px 7.5% 30px 7.5%;
    padding: 4%;
    color: white;
    background-color: rgba(255, 248, 220, 80%);
}

.producto1 img {
    float: left;
    width: 50%;
}

.producto1 p {
    float: right;
    width: 45%;
    margin-top: 10px;
    padding: 2%;
    background-color: var(--ligth-rose);
}

.producto1 h3 {
    float: right;
    width: 45%;
    text-align: center;
    background-color: var(--ligth-rose);
}

/* PRODUCTO 2 */

.producto2 {
    overflow: hidden;
    width: 85%;
    margin: 20px 7.5% 30px 7.5%;
    padding: 4%;
    color: white;
    background-color: rgba(255, 248, 220, 80%);
}

.producto2 img {
    float: right;
    width: 50%;
}

.producto2 h3 {
    float: left;
    width: 45%;
    text-align: center;
    background-color: var(--ligth-rose);
}

.producto2 p {
    float: left;
    width: 45%;
    margin-top: 10px;
    padding: 2%;
    background-color: var(--ligth-rose);
}

/* BANNER */

.banner p {
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
    background-color: rgba(255, 248, 220, 80%);
}

.banner div .ban {
    box-sizing: 50px;
    background-color: white;
}