body {
    font-family: 'Montserrat';
    width: 100%;
    padding: 0;
    background-size: cover;
    margin: 0 auto ;
   background-color:  rgba(221, 221, 221, 0.6);

}

div.form {
    margin: 40px auto;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--light-gray);
    
}
h1{
    font-family: var(--other-font-family);
}
p{
    font-family: var(--other-font-family);
padding: 1.5px;
}

.registrarse {
    font-family: 'montserrat';
    width: 50%;
    margin: 0;
    padding: 0;
    transition: all .5s;
    color: #44000d;
}

div.form input {
    font-size: 20px;
    margin: 30px 0 0 0;
    margin-top: 6px;
    text-align: center;
    border-bottom: 5px solid #44000d;
    border-radius: 22px;
    outline: none;
}

form button {
    font-size: 15px;
    font-weight: 700;
    width: auto;
    padding: 17px 48px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 200px;
    background-color: #917dc9;
    margin-bottom: 10px;
}

.form {
    max-width: 600px;
    background-color: #965d62;
}

.register {
    margin: 20px 0;
    font-family: 'montserrat';
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.registro {
    margin: auto;
    text-align: center;
    color: #44000d;
}

.titulos {
    font-size: 20px;
    text-align: center;
    color: black;
    border-bottom: 1px solid #44000d;
}

.ingresar {
    text-align: left;
    color: white;
    font-size: 15px;
    font-family: "montserrat";
}

.correo {
    font-size: 15px;
    padding-top: 0;
    font-family: "montserrat";
    border-bottom: 20px;
    border-radius: 20px;
    font-style: italic;
}

.enviar {
    font-size: 15px;
    width: 10%;
    padding: 5px;
    text-align: left;
    letter-spacing: 2px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
}
p.span{
color: red;
}
.text-danger{
    font-size: 15px;

}