@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@900&display=swap');

body {
    background-image:url(https://image.freepik.com/foto-gratis/acuarela-color-rojo-oscuro-textura-fondo-pintado-mano-fondo-color-vino-tinto-acuarela_145343-192.jpg);
    font-family: "Montserrat";
    padding: 0;
    width: 100%;
    background-size: 130%;
    
}

img{
    display:block;
    margin:auto;
    }

.logo a {
    margin: auto;
    background-image: url(https://image.freepik.com/foto-gratis/acuarela-color-rojo-oscuro-textura-fondo-pintado-mano-fondo-color-vino-tinto-acuarela_145343-192.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.logo img {
    width: 150px;
    border-radius: 60%;
    text-align: center;
    width: 150px;
    margin: 50px auto;
    

}

div.form {
    background-color: #965d62;
    margin: auto;
    border-radius: 20px;
    padding: 5px;
}




.registrarse {
    font-family: "montserrat";
    margin: 0;
    padding: 0;
    width: 50%;
    transition: all 0.5s;
    color: #44000d;
}

form input {
    font-size: 15px;
    outline: none;
    border-radius: 22px;
    border-bottom: 5px solid #44000d;
    margin: 30px 0;
    margin-top: 6px;
    text-align: center;
    
    
    
}


form.register button {
    width: auto;
    padding: 17px 48px;
    text-align: center;
    border: none;
    background-color: #917dc9;
    border-radius: 200px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    
}




.form {
    max-width: 800px;
    background-color: #965d62;
}

.register{
    font-family: "montserrat";
    font-size: 25px;
    text-align: center;
    padding: 10px;
    
}

.registro{
    color:#44000d;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #44000d;
}

.titulos{
    text-align:left;
    font-size: 10px;
    color: black;
}

