body {
  font-family: var(--base-font-family);
}

.banner {
  display: block;
  margin: 0;
}

/* Detalles */

.services .item {
  width: 100%;
  margin-bottom: 2px;
  padding: 2%;
  color: var(--light-gray);
  background-color: #965d62;
}

.services .item:last-child {
  margin: 0;
}

.services h3 {
  padding: 30px;
  text-align: center;
}

.services .items {
  display: flex;
  justify-content: center;
}

.services .items li {
  padding: 10px 20px;
  border-bottom: 1px solid var(--dark-rose);
}

.Products h2 {
  font-family: var(--other-font-family);
  padding: 10px 10px;
  text-align: center;
}

.Products .product-box {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--light-gray);
}

.Products img {
  width: 80%;
}

.Products .buy {
  margin: none;
  margin: 10px 0;
  padding: 10px 30px;
  color: var(--light-gray);
  border: none;
  border-radius: 10px;
  background-color: var(--ligth-rose);
}

.Products .cart {
  margin: none;
  margin: 10px 0;
  padding: 10px 30px;
  color: var(--light-gray);
  border: none;
  border-radius: 10px;
  background-color: var(--light-purple);
}

@media (min-width: 768px) {
  .banner {
    display: block;
  }
}

@media (min-width: 991px) {
  /* Services */
  .services {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .services .item {
    width: 23%;
    margin-bottom: 0;
  }
  /* Productos */
  .Products h2 {
    font-family: var(--other-font-family);
    padding: 10px 5px 0 5px;
    text-align: center;
  }
  .Products p {
    font-family: var(--other-font-family);
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }
  .Products .product-box {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--light-gray);
  }
  .Products .product-box_image {
    margin-bottom: 5px;
  }
  .Products img {
    width: 70%;
  }
  .Products .botones {
    margin: 10 auto;
  }
  .Products .buy {
    font-size: .8em;
    margin: none;
    margin: 0;
    padding: 5px 15px;
    color: var(--light-gray);
    border: none;
    border-radius: 10px;
    background-color: var(--ligth-rose);
  }
  .Products .cart {
    font-size: .8em;
    margin: none;
    margin: 10;
    padding: 5px 15px;
    color: var(--light-gray);
    border: none;
    border-radius: 10px;
    background-color: var(--light-purple);
  }
}