<!DOCTYPE html>
<h1>Carga de Productos</h1>
<div class="carga">
<form action="">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre"><br><br>
    <label for="descripcion">Descripcion</label>
    <textarea name="mensaje"></textarea><br><br>
    <label for="sector">Sector</label>
    <select name="sector"id="">
        <option value="par">Tintos</option>
        <option value="piz">Blancos</option>
        <option value="san">Rosados</option>
        <option value="vin">Espumantes</option>
                    </select><br><br>
            <label for="precio">Precio</label>
        <input type="number" name="precio"><br><br>

        <input type='file' name='foto'>

        <input class="boton" type="submit" value="Cargar Producto">

</form>

</div>
</html>