<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bodega</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
</head>


<body>

    <!-- HEADER -->
    <header class="main-header">
        <a href="#"><img src="/images/logotipo.jpeg" alt="" class="logo"></a>

        <!-- BARRA DE NAVEGACION -->
        <nav class="login">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
        <nav class="nav">
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/products">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Vinos</a></li>
                <li><a href="#">Bodega</a></li>
            </ul>
        </nav>
    </header>


    <main class="main">
        <!-- PRODUCTO 1 -->
        <section>
            <div class="producto1">
                <h3>hola</h3>
                <img src="/images/botella sin etiqueta 1.jpg" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium facere quos inventore magni cum!
                    Culpa!</p>

            </div>

        </section>

        <!-- PRODUCTO 2 -->

        <section>
            <div class="producto2">
                <article>
                    <h3>hola</h3>
                    <img src="/images/botella sin etiqueta 2.jpg" alt="">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium facere quos inventore magni
                        cum! Culpa!</p>
                </article>
            </div>
        </section>

    </main>

    <!-- BANNER -->
    <section class="banner">
        <p>BANNER</p>
        <div class="ban">

        </div>
    </section>



    <!-- FOOTER -->
    <footer>
       <div class="mas">
            <div class="bodega">
                <p>BODEGA</p>
            </div>
            <div class="horarios">
                <P>HORARIOS</P>
            </div>
            <div class="redes">
                <p>REDES</p>
            </div>
       </div>

        
        <div class="copyright">
<p>Copyright © 2021 La Bodega - Todos los derechos reservados - Beber con moderación. Prohibida su venta a menores de 18 años.</p>
        </div>
    </footer>


</body>

</html>