<!DOCTYPE html>
<h1>Registro</h1>
<div class="formulario">
<h2>Datos</h2> 

<form action="">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre"><br><br>
  <label for="apellido">Apellido</label>
  <input type="text" name = "apellido"><br><br>
    <label for="email">Correo Electronico</label>
  <input type="email" name = "correo electronico"><br><br>
  <label for="password">Contraseña</label>
  <input type="password" name = "contrasenia"><br><br>
    <input class="boton" type="submit" value="Enviar">

</form>
</div>

</html>

