<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nuestra Historia</title>
        <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
        <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/bodega.css">
        <link rel="stylesheet" href="/styles/all.css">
    </head>

<body>
    
    <%- include('./partials/header')  %> 

    <div class="imagen_resp"><img src="https://images.rimontgowineries.com/img/slider/provinces/88/9ed194dd33b1eb008416b725e80c5d4a.jpg" width="1697" height="350">

    <div class="row">
      <div class="col-12 col-md-6 align-items-center d-flex flex-column">
        <h1 class="titulo"> LA BODEGA</h1>
        <p class="cuerpo1">En el año 2021 comenzamos a escribir un nuevo capítulo en nuestra historia, con la premisa de liderar la producción de vinos orgánicos y sustentables para preservar en cada botella lo mejor de esta región. La Bodega es un fiel reflejo de la imagen que queremos transmitir a través de nuestros vinos: el balance armónico entre el pasado y la innovación, al mismo tiempo que preservamos nuestra cultura e identidad, también invertimos en tecnología de última generación para asegurar la mejor calidad en la elaboración de cada uno de nuestros vinos</p>
        <!-- <a href="" class="btn btn-outline-secondary mt-5">MORE</a>  -->
      </div>
      
      <div class="col-12 col-md-6 align-items-center d-flex flex-column">
        <h1 class="titulo_in">THE WINERY</h1>
        <p class="cuerpo2">In 2021 we began to write a new chapter in our history, with the premise of leading the production of organic and sustainable wines to preserve the best of this region in each bottle. La Bodega is a true reflection of the image that we want to convey through our wines: the harmonious balance between the past and innovation, while preserving our culture and identity, we also invest in state-of-the-art technology to ensure the best quality. in the elaboration of each of our wines</p>
        <!-- <a href="" class="btn btn-outline-secondary mt-5">MORE</a>  -->
      </div>
    </div>

    <div class="imagen_baja"><img src="https://www.hola.com/imagenes/viajes/20190712145759/ruta-por-las-bodegas-de-jerez-de-la-frontera-cadiz/0-701-172/tio-pepe-jerez-de-la-frontera-t.jpg?filter=w600&filter=ds75" width="1697" height="350">



      <div class="container">
				<div class="row">
					<div class="col-12 col-md-6 align-items-center d-flex flex-column">
						<h1 class="titulo2">GENUINA INSPIRACIÓN</h1>
						<p class="cuerpo3">En La Bodega  utilizamos el concepto minimalista para la elaboración de todos nuestros vinos, considerado éste la mínima intervención humana apoyado por una tecnología adecuada. Contamos con una proporcionada capacidad de barricas de roble francés y americano que permiten diseñar los vinos con un estilo muy cuidado y equilibrado en su concentración en madera.  </p>
					
					</div>
					<div class="col-12 col-md-6 align-items-center d-flex flex-column">
						<h1 class="titulo_in2">GENUINE INSPIRATION</h1>
						<p class="cuerpo4">At La Bodega we believe in and utilize the concept of minimal human intervention supported by the right technology to make all our wines. we have the necessary quantity of french and american oak barrels to allow us to design the wines with a hands-on style and a very balanced oak concentration.  </p>
						
					</div>
				</div>
			</div>
      <div class="imagen_tres"><img src="https://s03.s3c.es/imag/_v0/770x420/9/7/0/Copas-vino-comida-iStock.jpg" width="1697" height="450">

    <%- include('./partials/footer') %>

    
</body>
