<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nuestra Historia</title>
        <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/bodega.css">
        <link rel="stylesheet" href="/styles/all.css">
    </head>

<body>
    
    <%- include('./partials/header')  %> 

    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
		<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold">La Bodega</h3>
			</div>
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <!-- Begin: Title 1 component -->
                            
                            <!-- End-->
                           <h3 style="line-height:2">Finca y bodega La Abeja la primera bodega de San Rafael, construida en 1883 por Rodolfo Iselin, Fundador de la Ciudad actual de San Rafael. Elaboramos vinos de gama media y alta. <br>
        <br>
        Bodega ubicada en el centro de la ciudad</h3>
                       </div>
                        <div class="col-sm-4">
                            <div class="c-content-client-logos-1">
                                <!-- Begin: Title 1 component -->
                                
                                <!-- End-->
                                <div class="c-logos">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-20 ">
                                            <a href="#"><img src="https://www.hola.com/imagenes/cocina/noticiaslibros/20200406164867/protocolo-vino-mesa/0-807-905/portada-vino-m.jpg" alt="" width="227" height="205" class="c-img-pos"></a>
                                        </div>
                                        
                                        <div class="col-sm-8">
                                            <!-- Begin: Title 1 component -->
                                            <div class="c-content-title-1">
                                                <h3 class="c-font-uppercase c-font-bold">Historia</h3>
                                                <div class="c-line-left c-theme-bg">
                                                </div>
                                            </div>
                                            <!-- End-->
                                            <p>
                        <img src="https://www.lavanguardia.com/files/image_449_220/uploads/2019/10/11/5e997d130c5bc.jpeg">Finca &amp; Bodega La Abeja fue construida en 1883, por Rodolfo Iselín, inmigrante francés, fundador de la actual ciudad de San Rafael. Junto a la bodega construyó su imponente casona, símbolo del auge y pujanza	 de la colonia francesa.
                        </p>
                        <p>
                        Finca &amp; Bodega La Abeja se considera la bodega más antigua de San Rafael, siendo su casco el seno histórico de la ciudad.
                        Rodolfo Iselín es reconocido como el padre de la vitivinicultura de San Rafael, importó barbechos de varietales franceses (malbec, verdot, semillón) e introdujo las modernas técnicas de elaboración que se usaban en Europa.
                                            </p>
                                        
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
		</div>
	</div>
    
                   
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <p>	El año 1903 con la llegada del ferrocarril, obra impulsada por Rodolfo Iselín, la Colonia Francesa se despoja de su status para convertirse en San Rafael, capital del departamento. El ferrocarril incrementó la comercialización y la calidad de los vinos hacia todo el territorio nacional, expandiéndose la industria vitivinícola en forma exponencial.
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5UAIKXko1Jv-QZyTxtpBkcvfsnR5cdGqRkQ&usqp=CAU" width="250px" align="left" style="margin-right:10px"></p>
                <p>	En 1911 el Sr. Rodolfo Iselín vende sus propiedades a la familia Schlieper, quien además de la producción vitivinícola y frutícola, construye un frigorífico, fábrica de hielo, secadero de frutas y una usina de generación eléctrica; convirtiendo así el Establecimiento La Abeja en el referente comercial más importante de la época.
</p>
                <p>	En el año 1945 Teófilo Ripa e Hijos adquieren a Carlos Shliepper dicha finca.
</p>
                <p>	En el año 2004, nietos de Miguel Ripa deciden restaurar la bodega con fines turísticos e impulsar una nueva etapa de elaboración de vinos de alta gama.
                </p>
                
            </div>
        </div>
        
        
    </div>

                  

    
    <%- include('./partials/footer') %>
    
</body>
