<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" href="/styles/headerFooter.css">

</head>

<body>
    <!-- HEADER -->
    <%- include('./partials/header')  %> 

    <main class="main">

        <div class="fondo">

            <!-- CARRITO -->
            <div class="car">
                <div class="carrito">
                    <ul>
                        <li>PRODUCTO</li>
                        <li>PRECIO</li>
                        <li>CANTIDAD</li>
                        <li>SUBTOTAL</li>
                    </ul>
                </div>
                <div class="productos">
                
                </div>
                
                <div class="botoncarrito">
                    <button class="cart">Continuar comprando<i class="fas fa-shopping-cart"></i></button>
                
                    <button class="cart">Actualizar carrito<i class="fas fa-shopping-cart"></i></button>
                
                </div>
            </div>

            <!-- RESUMEN -->
            <div class="resumen">
                <p>SUBTOTAL</p>
                <p>ENVIO</p>
                <div>TOTAL</div>
                <button class="cart">Finalizar compra<i class="fas fa-shopping-cart"></i></button>
            </div>


        </div>

    </main>

    <%- include('./partials/footer')  %> 
    
</body>

</html>