<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %>
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/styles/detail.css">
    <link rel="stylesheet" href="/styles/all.css">
</head>

<body>
    <%- include('./partials/header')  %> 

    <main>
        <section>
            <div class="product">
                <div class="first">
                    <div class="image">
                        <img src="/images/botellavino.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">
                            <h2>LaBodega Cabernet</h2>
                        </div>
                        <div class="price">
                            <div class="box">
                                <h3>$3000</h3>
                                <p>precio por caja 6 botellas</p>
                                <div>
                                    <button class="more">-</button>
                                    <input type="text" class="number">
                                    <button class="more">+</button>
                                    <button class="cart">
                                        agregar al carrito
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box">
                                <h3>$500</h3>
                                <p>precio por botella</p>
                                <div>
                                    <button class="more">-</button>
                                    <input type="text" class="number">
                                    <button class="more">+</button>
                                    <button class="cart">
                                        agregar al carrito
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="description">
                        <p>Somos unos de los orgullosos centros elaboradores a nivel nacional de este mágico y cada vez
                            más famoso producto. Numerosas son las firmas que lo ofrecen creándose un consorcio.
                            Las bodegas deleitan a un público de cada más vez más adeptos a esta alegre y deliciosa
                            bebida. Se trata de un vino blanco espumante (obtenido de manera natural) aunque también
                            tiene su variedad en rosado. Se elabora principalmente de 3 tipos de uva: Chardonay, Pinot
                            Noire y Pinot Meunier y las variedades más elaboradas son: Extra Brut, Brut, Extra Sec, Sec
                            y Demi Sec.
                            Caminos del espumante Suma otro atractivo a la oferta de turismo aventura y naturaleza que
                            atrae numerosos visitantes al sur de Mendoza.</p>
                    </div>
                </div>
                <div class="services">
                    <div class="item">
                        <h4>Envío sin cargo a todo el pais</h4>
                        <p>Según monto de compra</p>
                    </div>
                    <div class="item">
                        <h4>Aceptamos todas las tarjetas</h4>
                        <p>¡Cuotas sin interes!</p>
                    </div>
                    <div class="item">
                        <h4>Seguimiento de pedido</h4>
                        <p>En el despacho de todos nuestros paquetes</p>
                    </div>
                    <div class="item">
                        <h4>Devolución gratis</h4>
                        <p>Tenés 30 días desde que lo recibís</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="extra">
            <div class="opinions">
                <h3>
                    Opiniones
                </h3>
                <ul>
                    <li>
                        Color muy atractivo, profundo con destacados tonos violáceos.
                    </li>
                    <li>
                        Al destapar una botella, nos deleita con una complejidad de aromas que entremezclan notas
                        frescas, frutos rojos como ciruelas maduras, frutos negros y una delicada mineralidad que
                        favorece aún más la frescura. Muy bien acomplejadas por dejos de vainilla provenientes de su
                        paso por roble
                    </li>
                    <li>
                        De taninos suaves y maduros, con muy buen equilibrio ácido en boca, refrescante, encontrándose
                        las mismas notas de frutas que en nariz. Muy buen final de boca, equilibrado y elegante.
                    </li>
                </ul>
            </div>
            <div class="tecnic">
                <h3>
                    Detalles tecnicos
                </h3>
                <div class="items">
                    <ul>
                        <li>Varietal</li>
                        <li>Color</li>
                        <li>Año</li>
                        <li>Tiempo en Botella</li>
                        <li>Origen</li>
                    </ul>
                    <ul>
                        <li>100% malbec</li>
                        <li>Rojo</li>
                        <li>2019</li>
                        <li>4 meses</li>
                        <li>Valle de uco</li>
                    </ul>

                </div>
            </div>
        </section>
        <section class="relacionated">
            <h3>Productos Relacionados</h2>
            <div class="cards">

                <a href="">
                    <div class="productosRelacionados">
                        <img src="/images/botella sin etiqueta 1.jpg" alt="">
                        <h4>Nombre de producto</h4>
                        <h4>Precio</h4>
                    </div>
                </a>
                <a href="">
                    <div class="productosRelacionados">
                        <img src="/images/botella sin etiqueta 2.jpg" alt="">
                        <h4>Nombre de producto</h4>
                        <h4>Precio</h4>
                    </div>
                </a>
                <a href="">
                    <div class="productosRelacionados">
                        <img src="/images/botella sin etiqueta 1.jpg" alt="">
                        <h4>Nombre de producto</h4>
                        <h4>Precio</h4>
                    </div>
                </a>
                <a href="">
                    <div class="productosRelacionados">
                        <img src="/images/botella sin etiqueta 2.jpg" alt="">
                        <h4>Nombre de producto</h4>
                        <h4>Precio</h4>
                    </div>
                </a>

            </div>
        </section>
    </main>
    
    <%- include('./partials/footer')  %> 
    
</body>

</html>