<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bodega</title>
    <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/all.css">
</head>
  
<body>

    <!-- HEADER -->
    <%- include('./partials/header')  %> 

    <div class="img">
    </div>
  <div class="medio">
      <div class="tinto">
          <img src="images/Principales/tinto.png" alt="">
          <div class="content">
              <h3>Fastuery Tinto</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci placeat voluptates, quidem accusantium distinctio possimus fuga ea vitae minima molestias odit ducimus ipsa quos neque nam delectus nulla eius cum!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab voluptatum cum eius sed, nam ullam illum dicta vel optio. Odit impedit quae illum ad voluptas aspernatur? Praesentium, cupiditate ex.</p>
              <a href="/products/detail/2" ><button class="boton">Ver Mas</button></a>
          </div>
      </div>
      <div class="blanco">
          <img src="images/Principales/Blanco.png" alt="">
          <div class="content">
              <h3>Batuiery Blanco</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, obcaecati dolores natus hic, repellendus impedit debitis pariatur ratione voluptates, placeat maiores corporis adipisci ut cupiditate quas voluptatem tempore? Voluptates, molestias?
              Rem similique veritatis modi voluptas, illum fugiat animi sunt excepturi soluta qui nam praesentium cum placeat possimus aliquid sequi vel quod inventore commodi. Porro iusto, sint mollitia dolore magnam quae?</p>
              <a href="/products/detail/10"><button class="boton">Ver Mas</button></a>
          </div>
      </div>
      <div class="espumante">
          <img src="images/Principales/Espumante.png" alt="">
          <div class="content">
              <h3>Sayilery espumante</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deserunt mollitia tenetur, sunt aperiam quasi necessitatibus molestiae. Quos iste animi tempora culpa, laudantium, est hic sequi quaerat, atque sapiente magnam.
              Aspernatur sint molestiae iusto eaque, labore iste distinctio assumenda porro nostrum voluptates id modi quasi sequi iure ab atque molestias blanditiis necessitatibus architecto perspiciatis, omnis vero aperiam voluptatibus. Nobis, sed.</p>
              <a href="/products/detail/18"><button class="boton">Ver Mas</button></a>
          </div>
      </div>
  </div>
  <div class="inferior">
      <div class="fadder">
          <section class="hero-section">
              <div class="card-grid">
                <a class="card" href="/bodega">
                  <div class="card__background" style="background-image: url(images/middle/Image1.jpg)"></div>
                  <div class="card__content">
                    <p class="card__category">Elaborados con la mejor produccion de nuestro pais</p>
                    <h3 class="card__heading">Casa</h3>
                  </div>
                </a>
                <a class="card" href="/products">
                  <div class="card__background" style="background-image: url(images/middle/Image2.jpg)"></div>
                  <div class="card__content">
                    <p class="card__category">Excelentes colores y aromas para todo momento</p>
                    <h3 class="card__heading">Tintos</h3>
                  </div>
                </a>
                <a class="card" href="/products">
                  <div class="card__background" style="background-image: url(images/middle/Image3.jpg)"></div>
                  <div class="card__content">
                    <p class="card__category">Ideales para conmemorar y capturar aquellas fechas</p>
                    <h3 class="card__heading">Espumantes</h3>
                  </div>
                </li>
                <a class="card" href="/products">
                  <div class="card__background" style="background-image: url(images/middle/Image4.jpg)"></div>
                  <div class="card__content">
                    <p class="card__category">Exquisitos sabores que contrastan perfectamente con el brindis</p>
                    <h3 class="card__heading">Blancos</h3>
                  </div>
                </a>
              <div>
            </section>
      </div>
      <div class="bodega">
          <section class="section">
              
          </section>
      </div>
  </div>

    <!-- FOOTER -->
    
    <%- include('./partials/footer')  %> 

</body>

</html>     