<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/all.css">

</head>

<body>
    <%- include('./partials/header') %>

        <div class="container">
            <div class="form">
                <div class="registro">
                    <h1>Login</h1>
                    
                </div>
                <form class="register"  action="link/?_method=POST" method="POST">
                    <div class="email">
                        <p class="email">¿Cuál es tu correo electronico?</p>
                        <input type="email" name="email" id="email" placeholder="Correo Electrónico">
                    </div>

                    <div class="contraseña">
                        <p class="contraseña">Crea una contraseña:</p>
                        <input type="password" name="email" id="password" placeholder="Contraseña">
                    </div>
                    <button type="submit">Ingresar</button>
                    

                    <div class="ingresar">
                        <a href="/session/register">
                            <p>¿No tienes cuenta? Ingresa Aqui</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <%- include('./partials/footer') %>
</body>

</html>