/*====== Fonts ======*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:wght@200;400;600&display=swap');
/*====== Variables ======*/

:root {
    --rose: #84142d;
    --dark-rose: #44000d;
    --light-purple: #917dc9;
    --purple: #644e9b;
    --light-gray: #ebebeb;
    --ligth-rose: #965d62;
    --base-font-family: 'Montserrat';
    --other-font-family: 'Cinzel';
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--base-font-family);
    background-color: var(--light-gray);
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-decoration: none;
    background-color: black;
}

header nav ul li {
    display: inline;
    list-style: none;
}

header nav ul li a {
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header nav {
    overflow: hidden;
}

header .logo {
    float: left;
    width: 90px;
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

header nav.navbar {
    float: right;
    margin: 30px;
}

.navbar-dark .navbar-toggler {
    color: black;
}

header nav.login {
    float: right;
    margin-right: 10px;
    display: none;
}

main.main div.img {
    width: 100%;
    overflow: hidden;
}

main.main img.fondo {
    width: 1000px;
    margin-top: 120px;
    position: relative;
    right: 120px;
}

/* PPRODUCTO */

.producto1 {
    overflow: hidden;
    width: 85%;
    margin: 200px 7.5% 30px 7.5%;
    padding: 4%;
    color: white;
    background-color: rgba(255, 248, 220, 80%);
}

.producto1 img {
    float: left;
    width: 50%;
}

.producto1 p {
    float: right;
    width: 45%;
    margin-top: 10px;
    padding: 2%;
    background-color: var(--ligth-rose);
}

.producto1 h3 {
    float: right;
    width: 45%;
    text-align: center;
    background-color: var(--ligth-rose);
}

/* PRODUCTO 2 */

.producto2 {
    overflow: hidden;
    width: 85%;
    margin: 20px 7.5% 30px 7.5%;
    padding: 4%;
    color: white;
    background-color: rgba(255, 248, 220, 80%);
}

.producto2 img {
    float: right;
    width: 50%;
}

.producto2 h3 {
    float: left;
    width: 45%;
    text-align: center;
    background-color: var(--ligth-rose);
}

.producto2 p {
    float: left;
    width: 45%;
    margin-top: 10px;
    padding: 2%;
    background-color: var(--ligth-rose);
}

/* BANNER */

.banner p {
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
    background-color: rgba(255, 248, 220, 80%);
}

.banner div .ban {
    box-sizing: 50px;
    background-color: white;
}

/* FOOTER */

footer {
    bottom: 0vw;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    padding: 2.5%;
    font-family: var(--other-font-family);
}

footer div.bloques {
    padding: 10;
}

footer h3 {
    padding: 10px 0;
    font-size: 25px;
}

footer h4 {
    padding: 10px 0;
    font-size: 20px;
}

footer p {
    font-size: 15px;
}

footer p.ocultar {
    display: none;
}

footer h4.ocultar {
    display: none;
}

footer a {
    font-size: 20px;
    color: var(--light-gray);
    transition: all 0.3s;
    text-decoration: underline transparent white;
}

footer a:hover {
    color: var(--light-purple);
    text-decoration: underline solid 3px var(--light-purple);
}

footer iframe {
    display: none;
}

footer .ubication {
    padding: 10px;
    border-bottom: 1px solid var(--dark-rose);
}

footer .contacto {
    padding: 10px;
    border-bottom: 1px solid var(--dark-rose);
}

footer .redes {
    padding: 10px;
}

footer .redes i {
    font-size: 40px;
    padding: 20px;
    margin-bottom: 0px;
}

footer .copyright p {
    font-size: 10px;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    main.main img.fondo {
        margin-top: 120px;
        width: 110%;
    }
    /* FOOTER */
    footer .bl {
        display: flex;
        justify-content: space-around;
    }
    footer iframe {
        display: block;
        width: 80%;
        margin: 0 10% 0 10%;
    }
    footer h4.ocultar {
        display: block;
    }
    footer p.ocultar {
        display: block;
    }
    footer .ubication {
        border-right: 1px solid var(--dark-rose);
        border-bottom: none;
    }
    footer .contacto {
        border-right: 1px solid var(--dark-rose);
        border-bottom: none;
    }
    footer a {
        color: var(--light-gray);
        text-decoration: none;
        transition: all 0.3s;
    }
    footer a:hover {
        color: var(--light-purple);
        text-decoration: underline solid 3px var(--light-purple);
    }
}