/*====== Fonts ======*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:wght@200;400;600&display=swap");

/*====== Variables ======*/
:root {
  --rose: #84142d;
  --dark-rose: #44000d;
  --light-purple: #917dc9;
  --purple: #644e9b;
  --light-gray: #ebebeb;
  --ligth-rose: #965d62;
  --base-font-family: "Montserrat";
  --other-font-family: "Cinzel";
}
/* Base */
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body{
  font-family: var(--base-font-family);
}
header{
  width: 100%;
  height: 200px;
  background-color: grey;
  text-align: center
}
.banner{
  display: none;
}

/* Detalles */
.services .item {
  margin-bottom: 2px;
  background-color: #965d62;
  width: 100%;
  padding: 2%;
  color:var(--light-gray);
}
.services .item:last-child {
  margin: 0;
}
.services h3 {
  padding: 30px;
  text-align: center;
}
.services .items {
  display: flex;
  justify-content: center;
}
.services .items li {
  border-bottom: 1px solid var(--dark-rose);
  padding: 10px 20px;
}

.Products h2{
  padding: 20px 10px;
  text-align: center;
  font-family: var(--other-font-family);
}
.Products .product-box{
  text-align: center;
  background-color: var(--light-gray);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.Products img{
  width: 80%;
}

.Products .buy{
  margin: none;
  padding: 10px 30px;
  background-color: var(--ligth-rose);
  color: var(--light-gray);
  margin: 10px 0;
  border: none;
  border-radius: 10px;
}
.Products .cart{
  margin: none;
  padding: 10px 30px;
  background-color: var(--light-purple);
  color: var(--light-gray);
  margin: 10px 0;
  border: none;
  border-radius: 10px;
}
footer{
  width: 100%;
  height: 200px;
  background-color: grey;
  text-align: center ;
}

@media (min-width: 768px){
  .banner{
    display: block;
  }
}

@media (min-width: 1024px) {
  
}