<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de producto</title>
  <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/admin.css">
  <link rel="stylesheet" href="/styles/all.css">

</head>

<body>

  <!-- HEADER -->
  <%- include('./partials/header') %>


    <main>
      <div class="fondo">
        <div class="carga">
          <div class="container">
          <form action="/admin/products" method="POST" enctype="multipart/form-data" id='formulario'>
              
            <div class="content">
                <h1>Modificar datos</h1>

                <div class="form-floating mb-3">
                  <div class="">
                    <input class="form-control" type="file" id="formFile" name="img" accept="image/*">
                    <span id="errorFoto" class="text-danger"></span>
                  </div>
                  <div class="col-4">
                    <div class="d-flex">
                        <img src="" alt="" id="vistaPrevia" class="img-thumbnail">
                    </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="Nombre" name="name">
                  <label for="name">Nombre</label>
                  <span id="errorName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="detail" placeholder="Descripción" name="detail">
                  <label for="detail">Descripción</label>
                  <span id="errorDetail" class="text-danger"></span>
                </div>

                <div class="ingreso">
                  <label for="category">Categoría</label>
                  <select name="category" id="category">
                    <option value="1">Tintos</option>
                    <option value="2">Blancos</option>
                    <option value="3">Espumantes</option>
                  </select>
                  <span id="errorCategory" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="variety" id="variety" placeholder="variety">
                  <label for="variety">Variedad</label>
                  <span id="errorvariety" class="text-danger"></span>
                </div>
                
                </div>
              </div>
              <div class="content">
                <h1>Detalles extras</h1>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="time" placeholder="Tiempo en botella" name="time">
                  <label for="time">Tiempo en botella</label>
                  <span id="errorTime" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="origin" placeholder="Origen" name="origin" >
                  <label for="origin">Origen</label>
                  <span id="errorOrigin" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="year" placeholder="Año" name="year">
                  <label for="year">Año</label>
                  <span id="errorYear" class="text-danger"></span>
                </div>
                <div class="ingreso">
                  <label for="color">Color</label>
                  <select name="color" id="" >
                    <option value="1">Rojo</option>
                    <option value="2">Blanco</option>
                    <option value="3">Violeta</option>
                    <option value="4">Rosado</option>
                    <option value="5">Azul</option>
                    <option value="6">Amarillo</option>
                  </select>
                  <span id="errorColor" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="price" placeholder="Precio Botella" name="price" >
                  <label for="price">Precio Botella</label>
                  <span id="errorPrice" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="priceBox" placeholder="Precio Caja" name="priceBox">
                  <label for="priceBox">Precio Caja</label>
                  <span id="errorPriceBox" class="text-danger"></span>
                <button class="btn btn-success" type="submit">Guardar cambios</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </main>

    <%- include('./partials/footer') %>
    <script src="/javascript/ProductsValidation.js"></script>
</body>

</html>