.color {
    background-color: #84142d;
    background-color: #44000d;
    background-color: #917dc9;
    background-color: hsl(257, 33%, 46%);
    background-color: #965d62;
    
}
.tipografia {
font-family: Montserrat;
font-family: Cinzel;

}
